@media print {
  body {
	font-size: 100%;
  }

  .resume-body {
    padding-block-start: 7rem;
    padding-block-end: 5.3rem;
    width: 100%;
    padding-inline: 14%;
  }

  .print-show {
  display: block;
  }

  .print-hide {
	display: none;
  }

  .header {
    padding-inline: 4%;
    border-bottom: 1px solid #fff3;
  }

 h1 a {
    font-size: 1.6rem;
    color: var(--color-strong);
  }

  .header h4 {
    font-size: .8rem;
    font-family: var(--display-font);
  }

  .top-matter {
    display: flex;
    flex-direction: column;
  }

  .resume-contact {
    font-size: 1rem;
    font-family: var(--display-font);
    display: flex;
  }

  .sub-contact {
    font-size: .7rem;
    text-align: right;
  }

  .resume-info {
    padding-block-start: 1rem;
    padding-block-end: .4rem;
    flex-direction: column;
  }

  .resume-info h3 {
    font-size: 1.2rem;
    padding-block-end: 0;
    padding-block-start: 0;
  }

  .resume-info h5 {
    font-size: .7rem;
  }

  .resume-info h4 {
    font-size: 1rem;
  }

  .resume-row {
    border-top: 0;
    padding-block-end: .6rem;
  }

  .resume-text li {
    font-size: .6rem;
    padding-block-end: .2rem;
  }

  .resume-text li:before {
    content: '•';
    left: -8px;
    margin-top: 1px;
    font-size: .7rem;
  }

  .phone:before {
    content: '(415) '
  }

  .phone:after {
    content: '8205'
  }

  .email:before {
    content: 'hello@'
  }

  .email:after {
    content: '.com'
  }

  .fire {
    height: 6rem;
  }

  footer {
    height: 14rem;
    padding-block-start: 3rem;
  }

  footer h2 {
    padding-block-start: 4rem;
  }

}